.gallery__photos {
    list-style: none;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(3, 6fr);
    row-gap: 20px;
    column-gap: 17px;
    justify-content: center;
    width: 100%;
}

@media screen and (max-width: 1279px) {
    .gallery__photos {
        grid-template-columns: repeat(1, 6fr);
        row-gap: 20px;
    }
}