.gallery {
    margin: 0 auto;
    max-width: 880px;
    list-style: none;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(3, 6fr);
    row-gap: 20px;
    column-gap: 17px;
    justify-content: center;
    width: 100%;
    }

@media screen and (max-width: 1279px) {
    .gallery {
        max-width: 282px;
        grid-template-columns: repeat(1, 6fr);
        row-gap: 20px;
    }
}